{% extends 'base.html' %}
{% block content %}

<body class="freelancers-page">
    <div class="card" style="width: auto;">
        <div class="card-header">
            Edit Profile
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                  {{ form.as_table }}
                </table>
                <input type="submit" value="Submit!" class="btn">
              </form>
          </li>
        </ul>
      </div>

</body>


{% endblock %}