{% extends 'base.html' %}

{% block content %}
<body class="freelancers-page">
    
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Delete Freelancer
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Are you sure you want to delete?</li>
          <li class="list-group-item"><form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes - Delete!" class="btn">
            <a href="{% url 'home' %}" class="cancel">Cancel</a>
          </form></li>
        </ul>
      </div>


</body>
{% endblock %}