{% extends 'base.html' %}
{% block content %}

<body class="freelancers-page">
  <div class="container-fluid " >
    <hr style="background-color: rgba(201, 154, 220, 0.6);">
    <div class="row">
    <div class="col">
  {% if object %}
  <h1 class="m-5" style="text-align: left;">Edit</h1>
  {% else %}
  <h1 style="color:white; margin-left: 35%; text-align: left;" class="m-2">Post Job</h1>
  {% endif %}
  <br>
  <form class="signUpForm" action="" method="POST">

    {% csrf_token %}
    <table class="signUpForm">
      {{ form.as_table }}
    </table>
    <input style="margin-left: 25%; margin-top: 15px;" class=" jobPost-searchBtn" type="submit" value="Submit!" class="btn">

  </form>
</div><!--/col-->

</div><!--/row-->
</div><!--/container-->

</body>

{% endblock %}