{% extends 'base.html' %}

{% block content %}


<body class="freelancers-page">
<br>
{% if object %}
<h1>Edit</h1>
{% else %}
<h1 style="color:white; margin-left: 35%;">Post Job</h1>
{% endif %}
<br>
  
  
  <form style="margin-left: 15%;" class="signUpForm" action="" method="POST">
    {% csrf_token %}
    <table class="signUpForm">
      {{ form.as_table }}
    </table>
    <input style="margin-left: 25%;" class="signUpForm" type="submit" value="Submit!" class="btn">
  </form>

</body>

{% endblock %}