{% extends 'base.html' %}
{% block content %}
<body class="freelancers-page">
<br><br><br>
    
    <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Job Details</h5>
            <p class="card-text">{{job.title}}</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"></small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{job.description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"></small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Category</h5>
            <p class="card-text">{{job.get_category_display}}</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"></small>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Price</h5>
              <p class="card-text">${{job.price}}</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"></small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Location</h5>
              <p class="card-text">{{ job.get_location_display }}</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"></small>
            </div>
        </div>
      </div>

</body>

{% endblock %}