{% extends 'base.html' %}
{% block content %}


     <h2 class="section-title popular-title">Cyber Security Categories</h2>
     <div class="row">

    <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Network Security</h2>
       <div>
         <a href="{% url 'network_security_jobs' %}">Jobs</a> |
         <a href="{% url 'all_freelancers' %}">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

    <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Ethical Hacking</h2>
       <div>
         <a href="{% url 'ethical_hacking_jobs' %}">Jobs</a> |
         <a href="{% url 'all_freelancers' %}">Freelancers</a>

      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

    <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Penetration Testing</h2>
       <div>
         <a href="{% url 'penetration_testing_jobs' %}">Jobs</a> |
         <a href="{% url 'all_freelancers' %}">Freelancers</a>

      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

    <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Security Auditing</h2>
       <div>
         <a href="{% url 'security_auditing_jobs' %}">Jobs</a> |
         <a href="{% url 'all_freelancers' %}">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

    <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Data Encryption</h2>
       <div>
         <a href="{% url 'data_encryption_jobs' %}">Jobs</a> |
         <a href="{% url 'all_freelancers' %}">Freelancers</a>

      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

    <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Incident Response</h2>
       <div>
         <a href="{% url 'incident_response_jobs' %}">Jobs</a> |
         <a href="{% url 'all_freelancers' %}">Freelancers</a>

      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

    <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Security Compliance</h2>
       <div>
         <a href="{% url 'security_compliance_jobs' %}">Jobs</a> |
         <a href="{% url 'all_freelancers' %}">Freelancers</a>

      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

</div>



{% endblock %}