{% extends 'base.html' %}
{% block content %}


<section class="popular-services">
   <div class="container-fluid">
     <h2 class="section-title popular-title">Digital Marketing Categories</h2>
     <div class="row">

<div class="col-md-3">
   <div class="card popular-card">
     <img src="../static/image/tec.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h6 class="card-title why-card-title">Search Engine Optimization (SEO)</h6>
       <div>
         <a href="{% url 'search_engine_optimization_jobs' %}">Jobs</a>
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

<div class="col-md-3">
   <div class="card popular-card">
     <img src="../static/image/tec.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h6 class="card-title why-card-title">Social Media Marketing</h6>
       <div>
         <a href="{% url 'social_media_marketing_jobs' %}">Jobs</a>
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

<div class="col-md-3">
   <div class="card popular-card">
     <img src="../static/image/tec.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h6 class="card-title why-card-title">Pay-Per-Click Advertising</h6>
       <div>
         <a href="{% url 'pay_per_click_advertising_jobs' %}">Jobs</a>
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

<div class="col-md-3">
   <div class="card popular-card">
     <img src="../static/image/tec.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h6 class="card-title why-card-title">Content Marketing</h6>
       <div>
         <a href="{% url 'content_marketing_jobs' %}">Jobs</a>
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

<div class="col-md-3">
   <div class="card popular-card">
     <img src="../static/image/tec.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h6 class="card-title why-card-title">Email Marketing</h6>
       <div>
         <a href="{% url 'email_marketing_jobs' %}">Jobs</a>
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

<div class="col-md-3">
   <div class="card popular-card">
     <img src="../static/image/tec.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h6 class="card-title why-card-title">Influencer Marketing</h6>
       <div>
         <a href="{% url 'influencer_marketing_jobs' %}">Jobs</a>
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

<div class="col-md-3">
   <div class="card popular-card">
     <img src="../static/image/tec.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h6 class="card-title why-card-title">Online Reputation Management</h6>
       <div>
         <a href="{% url 'online_reputation_management_jobs' %}">Jobs</a>
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->


</div>
</div>
</section>


{% endblock %}