{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <h2 class="section-title popular-title m-5">Digital Marketing Categories</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card roundedCard bg-transparent">
          <div class="card-body text-center  d-flex flex-column justify-content-center">
            <h3 class="card-title text-white subCategories-title">Search Engine Optimization (SEO)</h3>
            <div>
              <a href="{% url 'search_engine_optimization_jobs' %}">Jobs</a> |
              <a href="{% url 'all_freelancers' %}">Freelancers</a>
            </div>
          </div>
        </div>
        </a>
      </div><!--/col-->

      <div class="col-md-4 mb-4">
        <div class="card roundedCard bg-transparent">
          <div class="card-body text-center  d-flex flex-column justify-content-center">
            <h3 class="card-title text-white subCategories-title">Social Media Marketing</h3>
            <div>
              <a href="{% url 'social_media_marketing_jobs' %}">Jobs</a> |
              <a href="{% url 'all_freelancers' %}">Freelancers</a>
            </div>
          </div>
        </div>
        </a>
      </div><!--/col-->

      <div class="col-md-4 mb-4">
        <div class="card roundedCard bg-transparent">
          <div class="card-body text-center  d-flex flex-column justify-content-center">
            <h3 class="card-title text-white subCategories-title">Pay-Per-Click Advertising</h3>
            <div>
              <a href="{% url 'pay_per_click_advertising_jobs' %}">Jobs</a> |
              <a href="{% url 'all_freelancers' %}">Freelancers</a>

            </div>
          </div>
        </div>
        </a>
      </div><!--/col-->

      <div class="col-md-4 mb-4">
        <div class="card roundedCard bg-transparent">
          <div class="card-body text-center  d-flex flex-column justify-content-center">
            <h3 class="card-title text-white subCategories-title">Content Marketing</h3>
            <div>
              <a href="{% url 'content_marketing_jobs' %}">Jobs</a> |
              <a href="{% url 'all_freelancers' %}">Freelancers</a>
            </div>
          </div>
        </div>
        </a>
      </div><!--/col-->

      <div class="col-md-4 mb-4">
        <div class="card roundedCard bg-transparent">
          <div class="card-body text-center  d-flex flex-column justify-content-center">
            <h3 class="card-title text-white subCategories-title">Email Marketing</h3>
            <div>
              <a href="{% url 'email_marketing_jobs' %}">Jobs</a> |
              <a href="{% url 'all_freelancers' %}">Freelancers</a>
            </div>
          </div>
        </div>
        </a>
      </div><!--/col-->

      <div class="col-md-4 mb-4">
        <div class="card roundedCard bg-transparent">
          <div class="card-body text-center  d-flex flex-column justify-content-center">
            <h3 class="card-title text-white subCategories-title">Influencer Marketing</h3>
            <div>
              <a href="{% url 'influencer_marketing_jobs' %}">Jobs</a> |
              <a href="{% url 'all_freelancers' %}">Freelancers</a>
            </div>
          </div>
        </div>
        </a>
      </div><!--/col-->

      <div class="col-md-4 mb-4">
        <div class="card roundedCard bg-transparent">
          <div class="card-body text-center  d-flex flex-column justify-content-center">
            <h3 class="card-title text-white subCategories-title">Online Reputation Management</h3>
            <div>
              <a href="{% url 'online_reputation_management_jobs' %}">Jobs</a>
              <a href="{% url 'all_freelancers' %}">Freelancers</a>
            </div>
          </div>
        </div>
        </a>
      </div><!--/col-->
    </div>
  </div>
</div>



{% endblock %}