{% extends 'base.html' %}
{% block content %}

<h1>Graphic Design Categories</h1>


   <div>Logo Design
      <a href="{% url 'pay_per_click_advertising_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Web U/I Design
      <a href="{% url 'pay_per_click_advertising_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Mobile U/I Design
      <a href="{% url 'pay_per_click_advertising_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Illustration
      <a href="{% url 'pay_per_click_advertising_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Email Design
      <a href="{% url 'pay_per_click_advertising_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Infographics Design
      <a href="{% url 'pay_per_click_advertising_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Branding and Identity Design
      <a href="{% url 'pay_per_click_advertising_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>




{% endblock %}