{% extends 'base.html' %}
{% block content %}


     <h2 class="section-title popular-title">Graphic Design Categories</h2>
     <div class="row">

 <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Logo Design</h2>
       <div>
         <a href="{% url 'logo_design_jobs' %}">Jobs</a> |
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
  </a>
 </div><!--/col-->

 <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Web U/I Design</h2>
       <div>
         <a href="{% url 'web_ui_design_jobs' %}">Jobs</a> |
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

 <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Mobile U/I Design</h2>
       <div>
         <a href="{% url 'mobile_ui_design_jobs' %}">Jobs</a> |
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

 <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Illustration</h2>
       <div>
         <a href="{% url 'illustration_jobs' %}">Jobs</a> |
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

 <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Email Design</h2>
       <div>
         <a href="{% url 'email_design_jobs' %}">Jobs</a> |
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

 <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Infographics Design</h2>
       <div>
         <a href="{% url 'infographics_design_jobs' %}">Jobs</a> |
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->

 <div class="col-md-4 mb-4">
      <div class="card roundedCard bg-transparent">
        <div class="card-body text-center  d-flex flex-column justify-content-center">
          <h2 class="card-title text-white subCategories-title">Branding and Identity Design</h2>
       <div>
         <a href="{% url 'branding_and_identity_design_jobs' %}">Jobs</a> |
         <a href="">Freelancers</a>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->


</div>
</div>



{% endblock %}