{% extends 'base.html' %}
{% block content %}

<h1>Web Development Categories</h1>


   <div>Front-End Development
      <a href="{% url 'front_end_development_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Back-End Development
      <a href="{% url 'back_end_development_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Full-Stack Development
      <a href="{% url 'full_stack_development_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>E-Commerce Development
      <a href="{% url 'e_commerce_development_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Web Application Development
      <a href="{% url 'web_application_development_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>

   <div>Responsive Web Design
      <a href="{% url 'responsive_web_design_jobs' %}">Jobs</a>
      <a href="">Freelancers</a>
   </div>


{% endblock %}