{% extends 'base.html' %}
{% block content %}

<body class="freelancers-page">

<section class="popular-services">
   <div class="container-fluid">
     <h2 class="section-title popular-title">Branding and Identity Design Jobs</h2>
     <div class="row">

{% for jobposting in jobpostings_GD7 %}

<div class="col-md-3">
   <a href="{% url 'posting_detail' jobposting.id %}">
   <div class="card popular-card">
    <img class="card-img-top" src="https://picsum.photos/2/2" alt="Card image cap">
    <div class="card-body">
       <h6 class="card-title why-card-title"> {{ jobposting.title }}</h6>
       <div>
      </div>
     </div>
   </div>
 </a>
 </div><!--/col-->
 
 {% endfor %}

</div>
</div>
</section>

</body>

 {% endblock %}
 
  