<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer</title>

</head>
<body>
    <header>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'categories' %}">Categories</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'posting_create' %}">Add New Job</a></li>
            <li><a href="{% url 'posting_list' %}">All Jobs</a></li>
        </ul>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>