
{% extends 'base.html' %}
{% block content %}

<!-- Hero Section -->
<div class="hero">
  <div class="container">
    <h1 class="display-4">Find Your Expert</h1>
    <p class="lead">Hire top talent for your projects</p>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn hero-btn my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
<!-- Popular Services Section -->
<section class="popular-services">
  <div class="container-fluid">
    <h2 class="section-title popular-title">Popular Services</h2>
    <div class="row">

      <div class="col-md-3">
        <a href="">
        <div class="card popular-card">
          <img src="../static/image/tec.png" class="card-img-top" alt="..." >
          <div class="card-body">
            <h6 class="card-title why-card-title">UI/UX Developer</h6>
          </div>
        </div>
        </a>
      </div><!--/col-->
    
      <div class="col-md-3">
        <a href="">
        <div class="card popular-card">
          <img src="../static/image/icon3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title why-card-title">Web Development</h6>
          </div>
        </div>
      </a>
      </div><!--/col-->

      <div class="col-md-3">
        <a href="">
        <div class="card popular-card">
          <img src="../static/image/icon4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title why-card-title">Digital Marketing</h6>
          </div>
        </div>
      </a>
      </div><!--/col-->

      <div class="col-md-3">
        <a href="">
        <div class="card popular-card">
          <img src="../static/image/tec.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title why-card-title">Mobile App Development</h6>
          </div>
        </div>
      </a>
      </div><!--/col-->

      <div class="col-md-3">
        <a href="">
        <div class="card popular-card">
          <img src="../static/image/tec.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title why-card-title">Cybersecurity</h6>
          </div>
        </div>
      </a>
      </div><!--/col-->

      <div class="col-md-3">
        <a href="">
        <div class="card popular-card">
          <img src="../static/image/tec.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title why-card-title">UI/UX Developer</h6>
          </div>
        </div>
      </a>
      </div><!--/col-->

      <div class="col-md-3">
        <a href="">
        <div class="card popular-card">
          <img src="../static/image/tec.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title why-card-title">UI/UX Developer</h6>
          </div>
        </div>
      </a>
      </div><!--/col-->

      <div class="col-md-3">
        <a href="">
        <div class="card popular-card">
          <img src="../static/image/tec.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title why-card-title">UI/UX Developer</h6>
          </div>
        </div>
      </a>
      </div><!--/col-->

    </div>
  </div>
</section>

<!-- Why Freelancer Section -->
<section class="why-freelancer">
  <div class="container ">
    <div class="row why-container">
      <div class="col-md-6">
        <ul class="reasons-list">
          <h2 class="section-title why-freelancer-title">Why Freelancer?</h2>
          <li><strong>Stick to your budget</strong> 
            Find the right service for every price point. No hourly rates, just project-based pricing.</li>
    
            <li><strong>Get quality work done quickly</strong> 
              Hand your project over to a talented freelancer in minutes, get long-lasting results.</li>
          
              <li><strong>Pay when you're happy</strong> 
                Upfront quotes mean no surprises. Payments only get released when you approve.</li>
                </ul>
       </div> <!--/col-->
      <div class="col-md-4">
        <img src="../static/image/Q.png" class="img-fluid" alt="Join Freelancer">
      </div>
    </div>
  </div>
</section>

<!-- Join Section -->
<section class="join-section">
    <h2 class="section-title join-title ">Join Freelancer Today</h2>
    <div class="btn-group" role="group" aria-label="Join buttons">
      <a href="{% url 'register' %}">
      <button type="button" class=" clientBtn" >For Clients </button>
      </a>
      <a href="{% url 'register' %}">
        <button type="button">For Freelancers</button>
        </a>
  </div>
</section>


{% endblock %}
