{% extends 'base.html' %}
{% block content %}

<body class="freelancers-page">

    <h1>Job Listings</h1>
    
    <ul>
        {% for job in jobs %}

        <li>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'posting_detail' job.id %}">{{ job.title }}</a></h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary"> Pay: ${{ job.price }}</h6>
                </div>
              </div>
        </li>

        {% endfor %}
    </ul>


    
</body>


{% endblock %}