{% extends 'base.html' %}
{% block content %}

<body class="freelancers-page">

    <h1 class="section-title popular-title">Job Listings</h1>
    
    <div class="container">
        <div class="row">
            {% for job in jobs %}
            <div class="col-md-4">
                <div class="card popular-card">
                    <div class="card-body">
                        <h6 class="card-title why-card-title">{{ job.title }}</h6>
                        <h6 class="card-title why-card-title">Reward: ${{ job.price }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div><!-- /.row -->
    </div><!-- /.container -->
</body>

{% endblock %}
