{% extends 'base.html' %}
{% block content %}

<section class="popular-services">
   <div class="container-fluid">
     <h2 class="section-title popular-title">Influencer Marketing Jobs</h2>
     <div class="row">

{% for jobposting in jobpostings_DM4 %}

<div class="col-md-3">
   <a href="{% url 'posting_detail' jobposting.id %}">
   <div class="card popular-card">
      <img src="../static/image/tec.png" class="card-img-top" alt="">
      <div class="card-body">
       <h6 class="card-title why-card-title"> {{ jobposting.title }}</h6>
       <div>
      </div>
     </div>
   </div>
 </a>
 </a>
 </div><!--/col-->
 
 
 {% endfor %}

</div>
</div>
</section>

 {% endblock %}